* {
  font-family: Helvetica, Arial, sans-serif;

  box-sizing: border-box;
}
h2 {
  background: lightblue;
  border-radius: 50%;
  display: inline;
  padding: 10px;
}
body {
  padding: 60px;
}
input {
  margin-top: 20px;
  width: 100%;
  font-size: 1.2rem;
  color: grey;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}
.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}
.card p {
  padding: 5px;
  text-align: center;
}
.card img {
  max-width: 170px;
}
